###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               warbler.danielhall.me
        alias                   warbler.danielhall.me
        address                 warbler.vpn.tildaslash.com
		parents					router
		hostgroups				internet
        }


###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the machine
define service{
        use                             local-service         ; Name of service template to use
        host_name                       warbler.danielhall.me
        service_description             PING
	check_command			check_ping!600.0,40%!600.0,80%
        }

# Define a service to check SSH on the machine.
define service{
        use                             local-service         ; Name of service template to use
        host_name                       warbler.danielhall.me
        service_description             SSH
	check_command			check_ssh
        }

# Define a service to check load on the machine.
define service{
        use                             local-service         ; Name of service template to use
        host_name                       warbler.danielhall.me
        service_description             LOAD
	check_command			check_nrpe!check_load
        }

# Define a service to check users on the machine.
define service{
        use                             local-service         ; Name of service template to use
        host_name                       warbler.danielhall.me
        service_description             USERS
	check_command			check_nrpe!check_users
        }


